*{
  outline: none;
}
ul{
  padding: 0;
}
body{
  margin: 0;
}
.intro{
  video.intro{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1000;
  }
  .btn_red{
    background: url(/assets/img/rb_buttons.png);
    border: 0;
    color: #fff;
    height: 45px;
    width: 150px;
    background-size: 100%;
    background-position-y: 0;
    &:hover{
      background-position-y: -45px;
    }
  }
  .star_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .btn_red{
    margin: 10px;
    font-size: 28px;
    font-family: 'art', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/assets/img/rb_buttons.png);
    border: 0;
    color: #fff;
    height: 90px;
    width: 300px;
    background-size: 100%;
    background-position-y: 0;
    cursor: pointer;
    &:hover{
      background-position-y: -100%;
    }
  }
  .btn_green{
    margin: 10px;
    font-size: 28px;
    font-family: 'art', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/assets/img/rb_buttons.png);
    border: 0;
    color: #fff;
    height: 90px;
    width: 300px;
    background-size: 100%;
    background-position-y: -200%;
    cursor: pointer;
    &:hover{
      background-position-y: -300%;
    }
  }
  .main_logo{
    height: 340px;
    margin: auto;
    display: block;
  }

  p{
    font-family: 'art', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px #333;
  }
  .btn_red.back{
    height: 45px;
    width: 150px;
    font-size: 16px;
  }
  .check_play{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
      padding: 20px 30px;
      border: 0;
      border-radius: 6px;
      margin: 40px 0;
      width: 500px;
      font-size: 18px;
      font-family: 'art', sans-serif;
    }
    p{
      font-size: 24px;
    }
  }
  .check_room{
    .table{
      background: #f8f8f8;
      border: 1px solid #ccc;
      margin: auto;
      border-radius: 5px;
      padding: 20px;
      max-width: 800px;
    }
    table{
      width: 100%;
      font-family: 'art', sans-serif;
      td{
        padding: 5px 10px;
        border: 1px solid #ccc;
        .btn_red{
          height: 45px;
          width: 150px;
          font-size: 16px;
        }
      }
      th{
        .btn_green{
          height: 45px;
          width: 150px;
          font-size: 16px;
        }
        letter-spacing: 1px;
        &:last-child{
          width: 160px;
        }
      }
    }
  }

}
.home{
  display: flex;
  flex-direction: row;
  font-family: 'art', sans-serif;
  color: #333;
  height: 100vh;
  .main_bg{
    position: fixed;
    z-index: -1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/assets/img/home_bg.jpg) no-repeat;
    background-size: cover;
  }
  .content{
    margin-right: 400px;
    h3{
      color: #888;
    }
    flex: 1;
    .header{
        padding: 15px;
        border-radius: 10px;
        margin: 15px;
        background: rgba(255, 255, 255, 0.85);
      .main-info{
        display: flex;
        align-items: center;
      }
      .lvl{
        margin: 0 15px 0 5px;
        width: 32px;
        height: 32px;
        background: #fff;
        border:2px solid #EA7C7C;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
      }
      .player_name{
        border-bottom: 1px solid #C4C4C4;
        padding: 10px;
      }
      .health{
        display: flex;
        align-items: center;
        span{
          margin: 15px 10px 15px 0;
        }
        .hp_progress{
          display: block;
          height: 30px;
          background: #ce4143;
          width: 300px;
          border-radius: 30px;
        }
      }
    }
    .nav{
      background: #ffffff;
      border-radius: 10px;
      margin: 15px;
      ul{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        li{
          background: linear-gradient(270deg, #ea7c7c14 0%, rgba(243, 236, 236, 0.15) 100%), #FFFFFF;
          padding: 7px 15px;
          margin: 15px 5px;
          border-radius: 10px;
          border: 1px solid #ea7c7c66;
          color: #444444;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          &:hover{
            background: linear-gradient(270deg, #ea7c7c 0%, #ea7c7cad 100%), #FFFFFF;
            color: #ffffff;
          }
          &.active{
            background: #ea7c7c;
            color: #ffffff;
          }
        }

      }
    }
  }
  .main_content{
    background: #ffffff;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    h2{
      color: #666666;
      padding: 0;
    }
    .main_stats{
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          flex: 33.3333333333%;
          position: relative;
          margin: 10px 0;
          display: flex;
          flex-direction: row;
          span.value {
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            background: #fff;
            height: 65px;
            width: 65px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            position: relative;
            border: 3px solid #EA7C7C;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            font-size: 18px;
          }
          .title {
            display: flex;
            align-items: center;
            padding: 0 20px 0 50px;
            margin-left: -40px;
            background: linear-gradient(270deg, rgba(139, 144, 156, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: art, serif;
          }
        }
      }
    }
    .row{
      display: flex;
    }
    .player_info{
      margin-left: 20px;
      border-radius: 10px;
      border: 1px solid #b1b8c2;
      padding: 15px;
      font-family: Arial, serif;
      line-height: 20px;
    }
    .dop_stats{
      ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: flex-start;
        li{
          margin: 10px;
          background: #e8e9ec;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.35);
          padding: 10px;
          display: flex;
          align-items: center;
          .value{
            background: #ffffff;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #6f6f6f;
            border-radius: 20px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
ul{
  list-style-type: none;
}

aside.chat{
  .record_area {
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 40px;
  }

  button.record_cancel {
    border: 1px solid;
    padding: 7px 15px;
    border-radius: 30px;
    background: #8d95a2;
    color: #fff;
  }

  .audio_area {
    font-family: sans-serif;
    margin: 10px;
    background: #ced5de;
    padding: 10px;
    border-radius: 100px;
    font-size: 14px;
    color: #191919;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }
  width: 400px;
  background: rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex:1;
    flex-direction: column-reverse;
    overflow-y: scroll;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-behavior: smooth;
  }
  .message{
    margin: 0 10px 10px 10px;
    background: #fff;
    padding: 10px;
    border:  1px solid #E3E3E3;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    &.self{
      align-self: flex-end;
      background: #C9BDF9;
      border-color: #AD9FE4;
      .author{
        align-self: flex-end;
      }
    }
    .author{
      font-size: 14px;
      color: #ea7c7c;
      margin-bottom: 6px;
      font-family: 'art', sans-serif;
    }
    .text{
      color: #333;
      font-family: sans-serif;
      font-size: 16px;
      &.console{
        font-style: italic;
        color: #3F51B5;
      }
    }
  }
  .chat_controls{
    background: #ffffff;
    .cube{
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #73729A;
      .fields{
        display: flex;
        align-items: center;
      }
      input{
        font-size: 16px;
        margin: 0;
        width: 50px;
        text-align: center;
        padding: 5px;
        border: 1px solid #8d95a2;
        border-radius: 40px;
        background: #edf0f4;
        color: #484848;
      }
      span{
        margin: 10px;
      }
      .send_button{
        cursor: pointer;
        margin: 10px;
        border-radius: 100px;
        height: 37px;
        width: 37px;
        background: #8D95A2;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
        position: relative;
        border: 0;
        transition: 0.25s ease-in-out;
        &:disabled{
          transform: scale(0.8);
          background: #c0c4c5;
          box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
          cursor: default;
        }
        .d20{
          transform: scale(0.7);
          filter: invert(1);
        }

        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(0.5);
          transition: 0.2s ease-in-out;
        }

      }
    }
    .write_message{
      border-top: 1px solid #E3CFEC;
      padding: 10px;
      display: flex;
      align-items: center;
      &.empty{
        .send_button img.phone{
          transform: scale(0.5);
        }
        .send_button img.send{
          transform: scale(0);
        }
      }
      .send_button{
        cursor: pointer;
        margin: 10px;
        border-radius: 100px;
        height: 37px;
        width: 37px;
        background: #8D95A2;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
        position: relative;
        .phone{
          transform: scale(0);
        }
        .send{
          transform: scale(0.5);
        }
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(0.5);
          transition: 0.2s ease-in-out;
        }

      }
    }
    .write_area{
      border-radius: 4px;
      font-family: Arial, sans-serif;
      padding: 10px;
      background: #EDF0F4;
      border: 1px solid #DFE5EE;
      min-height: 40px;
      max-height: 200px;
      overflow-wrap: anywhere;
      flex: 1;
      outline:none;
      overflow-y: auto;
    }
  }
}
.b_blue{
  cursor: pointer;
  border-radius: 100px;
  height: 37px;
  color: #fff;
  background: #8D95A2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  border: 0;
  padding: 5px 20px;
  margin: 0;
}
ul.items_list {
  background: #efefef;
  padding: 0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.items_list li {
  width: 300px;
  padding: 10px;
  cursor: pointer;
  margin: 0 !important;
  transition: 0.1s ease-in-out;
}

.items_list li:hover {
  background: #ddd;
}

.item_info {
  margin-left: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}


.mater_items ul,
.player_items ul
{
  background: #efefef;
  padding: 0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: auto;
  min-width: 320px;
  margin: 0;
}
.mater_items .item_info,
.player_items .item_info{
  height: 300px;
  overflow: auto;
}

.mater_items li.active,
.player_items li.active{
  background: #ddd;
}
.mater_items li,
.player_items li,
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
  cursor: pointer;
  margin: 0 !important;
  transition: 0.1s ease-in-out;
}
.mater_items li:hover,
.player_items li:hover,
{
  background: #ddd;
}
.mater_items button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  background: #4CAF50;
  color: #fff;
  border: 0;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}
.player_items button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  background: #F44336;
  color: #fff;
  border: 0;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}
.mater_items .row,
.player_items .row,
{
  display: flex;
  align-items: flex-start;
}
.item_info .row{
  flex-wrap: wrap;
  flex-direction: row;
}
.item_img{
  width: 50%;
  margin-right: 10px;
  border-radius: 10px;
  max-width: 100px;
}
.main_stats ul.items_list {
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
}

.tab_2 .items_list li {
  transition: 0.1s ease-in-out;
  flex-basis: 100% !important;
}
.tab_2 .items_list li.active,
.tab_2 .items_list li:hover
{
  background: #ddd;
}
.tab_2 .items_list ul {
  align-self: flex-start;
  flex-direction: column !important;
  flex-wrap: nowrap;
}

.home .main_content .main_stats ul.items_list {
  flex-direction: column !important;
  flex-wrap: nowrap;
}
.main_stats .items_list{
  align-self: flex-start;
}
