.main_header{
  height: 180px;
  background: url(/assets/img/bg.png) no-repeat;
  background-size: auto 100%;
  position: relative;
}
.main_header::before{
  content: '';
  display: block;
  z-index: -1;
  background: #898d96;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 63px;
}
.main_bg{
  position: fixed;
  z-index: -1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/assets/img/create_hero.jpg) no-repeat;
  background-size: cover;
}
.form .input_field{
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}



/**/
.row {
  display: flex;
  margin: 40px;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info {
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 10px;
  align-self: flex-start;
}

.input_field {
  padding: 12px 20px;
  border: 0;
  margin: 10px;
  color: #333;
  font-size: 16px;
  width: 300px;
}

.all_scope {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  position: relative;
  margin: 20px 20px 0;
}

span.number {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  background: #fff;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  border: 3px solid #EA7C7C;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

ul.scope_list {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span.title {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  left: 55px;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(270deg, rgba(139, 144, 156, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 15px 30px;
  z-index: 0;
  color: #444;
  font-family: art, serif;
}

li.scope_item {
  position: relative;
  margin: 20px;
}

span.plus {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid #a0a4ad;
  position: absolute;
  left: -34px;
  top: 3px;
  height: 28px;
  width: 28px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

span.minus {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid #a0a4ad;
  position: absolute;
  left: -34px;
  bottom: 3px;
  height: 28px;
  width: 28px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.content{
  max-width: 1200px;
  margin: auto;
}
.dis{
  background: #d6d6d6;
  opacity: 0.5;
}

.info {}

h2 {
  color: #EA7C7C;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-family: art, serif;
}

p {
  margin: 12px;
  color: #555;
  font-family: Arial, serif;
  line-height: 20px;
}

button.btn_red {
  margin: 20px auto;
  font-size: 22px;
  font-family: "art", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/img/rb_buttons.png);
  border: 0;
  color: #fff;
  height: 90px;
  width: 300px;
  background-size: 100%;
  background-position-y: 0;
  cursor: pointer;
}
.btn_red:hover {
  background-position-y: -100%;
}
