<div class="main_header">
</div>
<div class="main_bg"></div>
<div class="create-hero">
  <div class="content">
    <div class="row">
      <div class="form">
        <label>
          <input class="input_field" [(ngModel)]="playerName" placeholder="Имя персонажа" type="text">
        </label>
        <label>
          <select class="input_field" (change)="changeRace($event.target)">
            <option [disabled]="!index" [selected]="selectRace == index" value="{{index}}" *ngFor="let race of races; index as index">{{race.title}}</option>
          </select>
        </label>
        <label>
          <select class="input_field" (change)="changeClass($event.target)">
            <option [disabled]="!index" [selected]="selectClass == index" value="{{index}}" *ngFor="let item of classes; index as index">{{item.title}}</option>
          </select>
        </label>
        <div class="all_scope">
          <span class="number">{{allScopes}}</span>
          <span class="title">Оставшиеся очки</span>
        </div>
        <ul class="scope_list">
          <li class="scope_item" *ngFor="let stat of stats; index as index">
            <div>
              <span class="plus" [class.dis]="!allScopes" (click)="addStat(index)">+</span>
              <span class="minus" [class.dis]="stat.value <= 1" (click)="delStat(index)">-</span>
            </div>
            <span class="number">{{stat.value}}</span>
            <span class="title">{{stat.title}}</span>
          </li>
        </ul>
      </div>
      <div class="info">
        <h2>Описание выбранного персонажа</h2>

        <h3 *ngIf="!selectRace && !selectClass" style="color: #999; text-align: center">
          Выберите расу или класс персонажа
        </h3>

        <p [innerHTML]="races[selectRace].description"></p>
        <p [innerHTML]="classes[selectClass].description"></p>
      </div>
    </div>
    <button class="btn_red" (click)="savePlayer()">Завершить создание</button>
  </div>
</div>
