<main class="home">
  <div class="main_bg"></div>
  <div class="content">
    <div class="header">
      <div class="main-info">
        <span>Ур.</span>
        <span class="lvl">1</span>
        <span class="player_name">{{player.name}}</span>
      </div>
      <div class="health">
        <span>Здоровье:</span>
        <span class="hp_progress"></span>
        <span>100 / 100</span>
      </div>
    </div>

    <div class="nav">
      <ul>
        <li [class.active]="activeTab == 1" (click)="activeTab = 1">О персонаже</li>
        <li [class.active]="activeTab == 2" (click)="activeTab = 2">Инвентарь</li>
      </ul>
    </div>

    <div class="main_content">
      <div class="tab_1" *ngIf="activeTab == 1">
        <h2>О персонаже</h2>
        <hr>
        <div class="main_stats">
          <h3>Основные характеристики</h3>
          <ul>
            <li *ngFor="let stat of player.stats" [className]="stat.slug">
              <span class="value">{{stat.value}}</span>
              <div class="title">{{stat.title}}</div>
            </li>
          </ul>
        </div>
        <div class="row">

          <div class="dop_stats">
            <h3>Дополнительные характеристики</h3>
            <ul>
              <li *ngFor="let dopStat of dopStats">
                <span class="title">{{dopStat.title}} ({{dopStat.subTitle}})</span>
                <span class="value">{{findStatValue(dopStat.slugStat) * 4}}</span>
              </li>
            </ul>

          </div>
          <div class="player_info">
            <p [innerHTML]="player.race.description"></p>
            <p [innerHTML]="player.class.description"></p>
          </div>
        </div>
      </div>
      <div class="tab_2" *ngIf="activeTab == 2">
        <h2>Инвентарь</h2>
        <hr>
        <div class="main_stats">
          <h3>Рюкзак <span *ngIf="selectedItem<0 && !player.items" [innerText]="' пуст'"></span></h3>
          <div class="row">
            <ul class="items_list">
              <li *ngFor="let item of player.items; index as index" [class.active]="selectedItem == item" (click)="selectedItem = item; firstClick = true">{{gameItems[item].title}}</li>
            </ul>
            <div class="item_info" *ngIf="player.items.length>0 && firstClick">
              <div class="row">
                <img class="item_img" [src]="'/assets/img/items/'+gameItems[selectedItem].img" alt="">
                <h4>{{gameItems[selectedItem].title}}</h4>
              </div>
              <p>{{gameItems[selectedItem].description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <aside class="chat">
    <ul id="chat_messages_wrap_scroll">
      <li *ngFor="let message of messages" class="message" [class.self]="message.authorId == socket">
        <span class="author">{{message.authorId == socket ? 'Я' : message.author}}</span>
        <span *ngIf="message.text" class="text" [class.console]="message.class && message.class=='console'" [innerHTML]="message.text"></span>
        <span *ngIf="message.audioUrl" class="audio">
          <audio [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(message.audioUrl)" controls></audio>
        </span>
      </li>
    </ul>
    <div class="chat_controls">
      <div class="cube">
        <div class="fields">
          <input type="number" min="0" max="100" [(ngModel)]="cubeMin">
          <span> - </span>
          <input type="number" min="1" max="100" [(ngModel)]="cubeMax">
        </div>
        <button  class="send_button" [disabled]="cubeMin >= cubeMax" (click)="postCube()">
          <img class="d20" src="/assets/img/d20.png" alt="">
        </button>
      </div>
      <div class="write_message" [class.empty]="!sendMessage && !isRecord">
        <div *ngIf="!isRecord" class="write_area" contenteditable="true" #write_area (keydown)="SendMessage(write_area, $event.code == 'Enter',$event)"></div>
        <div *ngIf="isRecord" class="record_area">
          <button class="record_cancel" (click)="recordCancel=true; RecordAudio()">Отмена</button>
          <div class="audio_area">
            <span>Запись аудио...</span>
            <span>{{recordLengthText}}</span>
          </div>
        </div>
        <div class="send_button" (click)="sendMessage ? SendMessage(write_area, true) : RecordAudio()">
          <img  class="phone" src="/assets/img/microphone.svg" alt="">
          <img class="send" src="/assets/img/send.svg" alt="">
        </div>
      </div>
    </div>
  </aside>
</main>
