<div class="intro">
  <video class="intro" [loop]="true" autoplay muted >
    <source src="/assets/video/intro.mp4">
  </video>

  <main>
    <img class="main_logo" src="/assets/img/hi.PNG" alt="">

    <div class="check_room" *ngIf="mode=='rooms'">
      <div class="table">
        <div class="btn_green" style="margin: auto" (click)="mode='new'">Создать</div>
        <table>
          <tr>
            <th>Название комнаты</th>
            <th>Количество игроков</th>
            <th>Мастер</th>
            <th><div class="btn_green">Обновить</div></th>
          </tr>
          <tr *ngFor="let room of rooms">
            <td>{{room.name}}</td>
            <td>{{room.players.length}} / 10</td>
            <td>{{room.master ? 'Есть' : 'Нет'}}</td>
            <td>
              <div *ngIf="room.players.length<10" class="btn_red" (click)="mode='join'; selectRoom=room.id">Войти</div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="check_play" *ngIf="mode == 'new'">
      <p>Введите название комнаты и выберите роль</p>
      <div class="star_wrap">
        <div class="btn_red back" (click)="mode='rooms'">Назад</div>
        <input type="text" name="new_role" [(ngModel)]="newRoomName" placeholder="Название комнаты...">
      </div>
      <div class="star_wrap">
        <div class="btn_green" (click)="AddRoom()">Создать</div>
      </div>
    </div>
    <div class="check_play" *ngIf="mode == 'join'">
      <p>Выберите роль</p>
      <div class="star_wrap">
        <div class="btn_red" (click)="Join(true)">Мастер</div>
        <div class="btn_green" (click)="Join(false)">Игрок</div>
      </div>
      <div class="btn_red back" (click)="mode='rooms'">Назад</div>
    </div>

  </main>

</div>
