.master{
  display: flex;
  flex-direction: row;
  margin-right: 420px;
  height: 100vh;
  box-sizing: border-box;
}
.player_list h3{

  color: #EA7C7C;
  font-family: 'art', sans-serif;
  font-size: 18px;
}
h2,h3,h4{
  color: #EA7C7C;
  font-family: 'art', sans-serif;
}
.main_bg{
  position: fixed;
  z-index: -1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/assets/img/create_hero.jpg) no-repeat;
  background-size: cover;
}
.player_list {
  padding: 15px;
  background: rgba(255, 255, 255, 0.85);
  max-width: 300px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
  box-sizing: border-box;
  width: 300px;
}

.player_list li {
  margin: -1px;
  font-family: 'art', sans-serif;
  color: #333;
  border: 1px solid #ccc;
  background: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.player_list li:hover {
  background: #fdeaea;
}

.player_content{
  flex: 1;
  background: #fff;
  border: 1px solid #cecece;
  padding: 20px;
  overflow: auto;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0px 3000px rgba(0,0,0,0.4), 0 4px 5px 3px rgba(0,0,0,0.5);
  width: 500px;
  z-index: 1000;
}

.popup h4{
  color: #EA7C7C;
  font-family: 'art', sans-serif;
  font-size: 18px;
}
.popup select,
.popup input
{
  display: block;
  padding: 12px 20px;
  border: 0;
  margin: 10px;
  color: #333;
  font-size: 16px;
  width: 300px;    background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.popup .btn_red{
  margin: 10px;
  font-family: "art", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/img/rb_buttons.png);
  border: 0;
  color: #fff;
  background-size: 100%;
  background-position-y: 0;
  cursor: pointer;
  height: 45px;
  width: 150px;
  font-size: 16px;
}
.popup .btn_green{
  margin: 10px;
  font-family: "art", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/img/rb_buttons.png);
  border: 0;
  color: #fff;
  background-size: 100%;
  background-position-y: -200%;
  cursor: pointer;
  height: 45px;
  width: 150px;
  font-size: 16px;
}
.btn_green:hover {
  background-position-y: -300%;
}

.btn_red:hover {
  background-position-y: -100%;
}

.popup .row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.popup h5{
  margin: 0;
  color: #666;
  font-size: 15px;
}
.popup .current_value{
  border: 2px solid #969696;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F44336;
  font-weight: bold;
  font-size: 20px;
}
.list_stats li span{
  font-family: sans-serif;
  color: #333;
  margin: 7px 2px;
  display: inline-block;
}
.item_info{
  width: 100%;
}
