<main class="master">
  <div class="main_bg"></div>
  <div class="player_list">
    <h3>Игроки:</h3>
    <ul>
      <li *ngFor="let player of room.players" (click)="SelectPlayer(player)">{{player.name}}</li>
    </ul>
  </div>
  <div *ngIf="selectedPlayer" class="player_content">
    <h2>{{selectedPlayer.name}} ({{selectedPlayer.race.title}} {{selectedPlayer.class.title}})</h2>
    <h3>Характеристики:</h3>
    <button (click)="popupStatsOpen = true; popup_selectStat = selectedPlayer.stats[0]" class="b_blue">Изменить параметр</button>
    <ul class="list_stats">
      <li *ngFor="let stat of selectedPlayer.stats">
        <span>{{stat.title}}</span>
         :
        <span>{{stat.value}}</span>
      </li>
    </ul>

    <h3>Инвентарь:</h3>
    <div>
      <div class="mater_items">
        <h4>Предметы мастера:</h4>
        <div class="row">
          <ul>
            <li [class.active]="selectMasterItem == index" (click)="selectMasterItem=index" *ngFor="let item of masterItems; index as index">
              {{item.title}}
              <button (click)="addItem(index)">+</button>
            </li>
          </ul>
          <div class="item_info">
            <div class="row">
              <img class="item_img" [src]="'/assets/img/items/'+masterItems[selectMasterItem].img" alt="">
              <h4>{{masterItems[selectMasterItem].title}}</h4>
            </div>
            <p>{{masterItems[selectMasterItem].description}}</p>
          </div>
        </div>
      </div>
      <div class="player_items">
        <h4>Предметы игрока:</h4>
        <div class="row">
          <ul>
            <li [class.active]="selectPlayerItem == index-1" (click)="selectPlayerItem=item+1" *ngFor="let item of selectedPlayer.items; index as index">
              {{masterItems[item].title}}
              <button (click)="delItem(index)">-</button>
            </li>
          </ul>
          <div class="item_info">
            <div *ngIf="selectedPlayer.items.length && selectPlayerItem">
              <div class="row">
                <img class="item_img" [src]="'/assets/img/items/'+masterItems[selectPlayerItem-1].img" alt="">
                <h4>{{masterItems[selectPlayerItem-1].title}}</h4>
              </div>
              <p>{{masterItems[selectPlayerItem-1].description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="popupStatsOpen" class="popup popup_change-stat">
    <h4>Изменение характеристики</h4>
    <h5>Выберите характеристику</h5>
    <select class="input_field" id="change_stat_select" (change)="changeSelectStat($event.target)">
      <option [selected]="popup_selectStat == stat" value="{{index}}" *ngFor="let stat of selectedPlayer.stats; index as index">{{stat.title}}</option>
    </select>
    <h5>Текущее значение</h5>
    <span class="current_value" *ngIf="popup_selectStat">
    {{popup_selectStat.value}}
    </span>
    <h5>Новое значение</h5>
    <input type="text" [(ngModel)]="popupStatsNewValue">

    <div class="row">
      <button class="btn_red" (click)="popupStatsOpen = false">Отмена</button>
      <button class="btn_green" (click)="applyStat()">Применить</button>
    </div>

  </div>

  <aside class="chat">
    <ul id="chat_messages_wrap_scroll">
      <li *ngFor="let message of messages" class="message" [class.self]="message.authorId == socket">
        <span class="author">{{message.authorId == socket ? 'Я' : message.author}}</span>
        <span *ngIf="message.text" class="text" [class.console]="message.class && message.class=='console'" [innerHTML]="message.text"></span>
        <span *ngIf="message.audioUrl" class="audio">
          <audio [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(message.audioUrl)" controls></audio>
        </span>
      </li>
    </ul>
    <div class="chat_controls">
      <div class="cube">
        <div class="fields">
          <input type="number" min="0" max="100" [(ngModel)]="cubeMin">
          <span> - </span>
          <input type="number" min="1" max="100" [(ngModel)]="cubeMax">
        </div>
        <button  class="send_button" [disabled]="cubeMin >= cubeMax" (click)="postCube()">
          <img class="d20" src="/assets/img/d20.png" alt="">
        </button>
      </div>
      <div class="write_message" [class.empty]="!sendMessage && !isRecord">
        <div *ngIf="!isRecord" class="write_area" contenteditable="true" #write_area (keydown)="SendMessage(write_area, $event.code == 'Enter',$event)"></div>
        <div *ngIf="isRecord" class="record_area">
          <button class="record_cancel" (click)="recordCancel=true; RecordAudio()">Отмена</button>
          <div class="audio_area">
            <span>Запись аудио...</span>
            <span>{{recordLengthText}}</span>
          </div>
        </div>
        <div class="send_button" (click)="sendMessage ? SendMessage(write_area, true) : RecordAudio()">
          <img  class="phone" src="/assets/img/microphone.svg" alt="">
          <img class="send" src="/assets/img/send.svg" alt="">
        </div>
      </div>
    </div>
  </aside>
</main>
